{% extends "FRESCO/base.html" %}
{% load static %}

{% block extra_css %}
    <link type="text/css" href="{% static 'FRESCO/css/team.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}


    <div class="container pt-5" id="card-container">

    <div class="card-group">
        <div class="card text-white bg-dark">
            <img src="{% static 'FRESCO/images/saurabhbagchi.jpg' %}" class="card-img-top" alt="Saurabh Bagchi">
            <div class="card-body">
                <h5 class="card-title text-center">Dr. Saurabh Bagchi</h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer d-flex justify-content-center align-items-center">
                <small><a href="mailto:sbagchi@purdue.edu" class="btn btn-dark">Email</a></small>
                <small><a href="https://bagchi.github.io/" class="btn btn-dark">Webpage</a></small>
            </div>
        </div>
        <div class="card text-white bg-dark">
            <img src="{% static 'FRESCO/images/carolsong.png' %}" class="card-img-top" alt="Carol Song">
            <div class="card-body">
                <h5 class="card-title text-center">Dr. Carol Song</h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer d-flex justify-content-center align-items-center">
                <small><a href="mailto:cxsong@purdue.edu" class="btn btn-dark">Email</a></small>
                <small><a href="https://web.ics.purdue.edu/~cxsong/purdue/Welcome.html"
                          class="btn btn-dark">Webpage</a></small>
            </div>
        </div>
        <div class="card text-white bg-dark">
            <img src="{% static 'FRESCO/images/rajeshkalyanam.jpg' %}" class="card-img-top" alt="Rajesh Kalyanam">
            <div class="card-body">
                <h5 class="card-title text-center">Dr. Rajesh Kalyanam</h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer d-flex justify-content-center align-items-center">
                <small><a href="mailto:rkalyana@purdue.edu" class="btn btn-dark">Email</a></small>
                <small><a href="#" class="btn btn-dark">Webpage</a></small>
            </div>
        </div>
        <div class="card text-white bg-dark">
            <img src="{% static 'FRESCO/images/amiyamaji.jpg' %}" class="card-img-top" alt="Amiya Maji">
            <div class="card-body">
                <h5 class="card-title text-center">Dr. Amiya Maji</h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer d-flex justify-content-center align-items-center">
                <small><a href="mailto:amaji@purdue.edu" class="btn btn-dark">Email</a></small>
                <small><a href="https://www.rcac.purdue.edu/about/staff/amaji" class="btn btn-dark">Webpage</a></small>
            </div>
        </div>

    </div>


    <div class="card-group pt-5">
        <div class="card text-white bg-dark">
            <img src="{% static 'FRESCO/images/aryamaandomne.jpg' %}" class="card-img-top" alt="Aryamaan Dhomne">
            <div class="card-body">
                <h5 class="card-title text-center">Aryamaan Dhomne</h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer d-flex justify-content-center align-items-center">
                <small><a href="mailto:adhomne@purdue.edu" class="btn btn-dark">Email</a></small>
                <small><a href="https://github.com/arya1106" class="btn btn-dark">Webpage</a></small>
            </div>
        </div>
        <div class="card text-white bg-dark">
            <img src="{% static 'FRESCO/images/StephenHarrell.jpg' %}" class="card-img-top" alt="Stephen Harrell">
            <div class="card-body">
                <h5 class="card-title text-center">Stephen Harrell</h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer d-flex justify-content-center align-items-center">
                <small><a href="sharrell@tacc.utexas.edu" class="btn btn-dark">Email</a></small>
                <small><a href="https://tacc.utexas.edu/about/staff-directory/stephen-lien-harrell/"
                          class="btn btn-dark">Webpage</a></small>
            </div>
        </div>
        <div class="card text-white bg-dark">
            <img src="{% static 'FRESCO/images/josh.png' %}" class="card-img-top" alt="Joshua McKerracher">
            <div class="card-body">
                <h5 class="card-title text-center">Joshua McKerracher</h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer d-flex justify-content-center align-items-center">
                <small><a href="mailto:jmckerra@purdue.edu" class="btn btn-dark">Email</a></small>
                <small><a href="https://mckerracher.github.io/portfolio_2.0/" class="btn btn-dark">Webpage</a></small>
            </div>
        </div>

    </div>




{% endblock content %}
